<div>
  <!-- <form [formGroup]="usernameForm" (ngSubmit)='displayUser()'>
      <input type="text" placeholder="Nazwa użytkownika ..." formControlName="username"/>
      <input type="submit" value="pokaż"/>
  </form> -->

  <app-searchbar></app-searchbar>

  <div *ngIf="user.id != ''">
    <p>{{user.displayName}} - {{user.id}}</p>
    <div>
      <h3>{{user.displayName}} obserwuje: </h3>

      <div *ngFor="let user of followedUsersTiles" class="followed-user-tile">
        <app-followed-user-tile [followedUser]="user" (click)="redirect(user.to_name)">
        </app-followed-user-tile>
      </div>


      <!-- <div *ngFor="let user of followedUsers" class="followed-user-tile"> -->

        <!-- <div class="followed-user-tile-image-container">
          <img src={{user.imageURL}} class="followed-user-tile-image"/>
        </div> -->

      <!-- </div> -->

    </div>
  </div>
</div>
